*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fdfdfd;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background-color: #0d03c1;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0%;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color : #fff;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover{
    color: #ff7300;
}
#home{
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.home-content{
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 3;
}
.home-content h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
.home-content p{
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.home-content .btn{
    background: #df7206;
    color:#0d03c1;
    padding: 12px 30px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: Bold;
}
.home-content .btn:hover{
    background: #b436f3;
    color: #fff;
}
/*destn*/
section{
    width : 100%;
    display: flex;
    justify-content: center;
}
section.container{
    width : 100%;
    max-width: 1200px;
    padding : 0 20px;
}
#destinations{
    padding: 60px 0;
    background: #f1e9e9;
    text-align: center;
}
#destinations h2{
    font-size: 2rem;
    margin-bottom:50px;
    color:#444
}
.destination-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}
.destination-card{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.destination-card img{
    width:100%;
    height: 220px;
    object-fit: cover;
}
.destination-card h3 {
  padding: 15px;
  font-size: 1.2rem;
  color: #333;
  background: #fff;
}

.destination-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
/* End destn*/
/*packg*/
#package{
    padding: 80px 0;
    background: #f1e9e9;
    text-align: center;
}
#package h2{
    font-size: 2rem;
    margin-bottom: 50px;
    color:#444;
}
.package-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
}
.package-card{
    background: #fff;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.package-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.package-card h3{
    padding: 15px;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}
.package-card p{
    padding: 0 13px 10px;
    font-size: .85rem;
    color: #666;
}
.package-card:hover{
    transform: translateY(5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.package-card button{
    background: #df7206;
    color:#0d03c1;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: Bold;
}
.package-card button:hover{
    background: #b436f3;
    color: #fff;
    transform: scale(1.15);
}